<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <http realm="JavaStudy example" use-expressions="true">
       <!-- <intercept-url pattern="/register" access="hasRole('USER')"/>-->


        <form-login
                login-page="/login"
                login-processing-url="/j_spring_security_check"
                default-target-url="/"
                authentication-failure-url="/login?error=1"
                username-parameter="j_username"
                password-parameter="j_password"/>
        <logout logout-url="/j_spring_security_logout" logout-success-url="/"/>
        <remember-me
                key="myAppKey"
                user-service-ref="jdbcUserService"
                token-repository-ref="tokenRepository"
                remember-me-cookie="remember-me-cookieName"
                remember-me-parameter="remember-me-parameter"
               />
        <headers/>
        <csrf/>
        <!--<csrf disabled="true"/>-->
    </http>

    <b:bean id="tokenRepository"
            class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
        <b:property name="dataSource" ref="dataSource"/>
    </b:bean>

    <jdbc-user-service id="jdbcUserService" data-source-ref="dataSource"
                       users-by-username-query="SELECT login, password, true FROM user WHERE login=?"
                       authorities-by-username-query="SELECT U.LOGIN, 'ROLE_USER' FROM USER U WHERE U.LOGIN = ? "/>


    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="jdbcUserService">
            <password-encoder hash="md5"/>
        </authentication-provider>
    </authentication-manager>

</b:beans>